@import "tailwindcss";
@import "tw-animate-css";

/* Light palettes */
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/sage.css";
@import "@radix-ui/colors/olive.css";
@import "@radix-ui/colors/sand.css";
@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/ruby.css";
@import "@radix-ui/colors/crimson.css";
@import "@radix-ui/colors/pink.css";
@import "@radix-ui/colors/plum.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/iris.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/cyan.css";
@import "@radix-ui/colors/teal.css";
@import "@radix-ui/colors/jade.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/bronze.css";
@import "@radix-ui/colors/gold.css";
@import "@radix-ui/colors/brown.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/lime.css";
@import "@radix-ui/colors/mint.css";
@import "@radix-ui/colors/sky.css";
@import "@radix-ui/colors/black-alpha.css";

/* Dark palettes */
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/mauve-dark.css";
@import "@radix-ui/colors/slate-dark.css";
@import "@radix-ui/colors/sage-dark.css";
@import "@radix-ui/colors/olive-dark.css";
@import "@radix-ui/colors/sand-dark.css";
@import "@radix-ui/colors/tomato-dark.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/ruby-dark.css";
@import "@radix-ui/colors/crimson-dark.css";
@import "@radix-ui/colors/pink-dark.css";
@import "@radix-ui/colors/plum-dark.css";
@import "@radix-ui/colors/purple-dark.css";
@import "@radix-ui/colors/violet-dark.css";
@import "@radix-ui/colors/iris-dark.css";
@import "@radix-ui/colors/indigo-dark.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/cyan-dark.css";
@import "@radix-ui/colors/teal-dark.css";
@import "@radix-ui/colors/jade-dark.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/grass-dark.css";
@import "@radix-ui/colors/bronze-dark.css";
@import "@radix-ui/colors/gold-dark.css";
@import "@radix-ui/colors/brown-dark.css";
@import "@radix-ui/colors/orange-dark.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/yellow-dark.css";
@import "@radix-ui/colors/lime-dark.css";
@import "@radix-ui/colors/mint-dark.css";
@import "@radix-ui/colors/sky-dark.css";
@import "@radix-ui/colors/white-alpha.css";

/* @custom-variant dark (&:is(.dark *)); */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --primary-1: var(--blue-1);
  --primary-2: var(--blue-2);
  --primary-3: var(--blue-3);
  --primary-4: var(--blue-4);
  --primary-5: var(--blue-5);
  --primary-6: var(--blue-6);
  --primary-7: var(--blue-7);
  --primary-8: var(--blue-8);
  --primary-9: var(--blue-9);
  --primary-10: var(--blue-10);
  --primary-11: var(--blue-11);
  --primary-12: var(--blue-12);

  --background-1: var(--slate-1);
  --background-2: var(--slate-2);
  --background-3: var(--slate-3);
  --background-4: var(--slate-4);
  --background-5: var(--slate-5);
  --background-6: var(--slate-6);
  --background-7: var(--slate-7);
  --background-8: var(--slate-8);
  --background-9: var(--slate-9);
  --background-10: var(--slate-10);
  --background-11: var(--slate-11);
  --background-12: var(--slate-12);

  --background: var(--background-1);
  --foreground: var(--background-12);

  --card: var(--primary-1);
  --card-foreground: var(--background-12);

  --popover: var(--background-1);
  --popover-foreground: var(--background-12);

  --primary: var(--primary-9);
  --primary-foreground: var(--primary-2);

  --secondary: var(--primary-4);
  --secondary-foreground: var(--primary-12);

  --muted: var(--background-3);
  --muted-foreground: var(--background-9);

  --accent: var(--primary-3);
  --accent-foreground: var(--primary-12);

  --destructive: var(--red-9);
  --destructive-foreground: var(--red-1);

  --border: var(--background-6);
  --input: var(--background-6);
  --ring: var(--primary-8);

  --chart-1: var(--violet-9);
  --chart-2: var(--cyan-9);
  --chart-3: var(--blue-9);
  --chart-4: var(--grass-9);
  --chart-5: var(--amber-9);

  --sidebar: var(--background-2);
  --sidebar-foreground: var(--background-12);
  --sidebar-primary: var(--primary-9);
  --sidebar-primary-foreground: var(--primary-1);
  --sidebar-accent: var(--primary-3);
  --sidebar-accent-foreground: var(--primary-12);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--primary-7);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
