@import "tailwindcss";
@import "tw-animate-css";

/* Light palettes */
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/sage.css";
@import "@radix-ui/colors/olive.css";
@import "@radix-ui/colors/sand.css";
@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/ruby.css";
@import "@radix-ui/colors/crimson.css";
@import "@radix-ui/colors/pink.css";
@import "@radix-ui/colors/plum.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/iris.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/cyan.css";
@import "@radix-ui/colors/teal.css";
@import "@radix-ui/colors/jade.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/bronze.css";
@import "@radix-ui/colors/gold.css";
@import "@radix-ui/colors/brown.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/lime.css";
@import "@radix-ui/colors/mint.css";
@import "@radix-ui/colors/sky.css";
@import "@radix-ui/colors/black-alpha.css";

/* Dark palettes */
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/mauve-dark.css";
@import "@radix-ui/colors/slate-dark.css";
@import "@radix-ui/colors/sage-dark.css";
@import "@radix-ui/colors/olive-dark.css";
@import "@radix-ui/colors/sand-dark.css";
@import "@radix-ui/colors/tomato-dark.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/ruby-dark.css";
@import "@radix-ui/colors/crimson-dark.css";
@import "@radix-ui/colors/pink-dark.css";
@import "@radix-ui/colors/plum-dark.css";
@import "@radix-ui/colors/purple-dark.css";
@import "@radix-ui/colors/violet-dark.css";
@import "@radix-ui/colors/iris-dark.css";
@import "@radix-ui/colors/indigo-dark.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/cyan-dark.css";
@import "@radix-ui/colors/teal-dark.css";
@import "@radix-ui/colors/jade-dark.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/grass-dark.css";
@import "@radix-ui/colors/bronze-dark.css";
@import "@radix-ui/colors/gold-dark.css";
@import "@radix-ui/colors/brown-dark.css";
@import "@radix-ui/colors/orange-dark.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/yellow-dark.css";
@import "@radix-ui/colors/lime-dark.css";
@import "@radix-ui/colors/mint-dark.css";
@import "@radix-ui/colors/sky-dark.css";
@import "@radix-ui/colors/white-alpha.css";

:root {
  --spacing: calc(var(--theme-dimension) * var(--theme-spacing));
  --radius: calc(var(--theme-dimension) * var(--theme-radius));
}

@layer base {
  * {
    border-color: var(--color-border);
    outline-color: var(--color-ring);
    /* @apply border-border outline-ring/50; */
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    /* @apply bg-background text-foreground; */
  }
}
